
@keyframes slidein{
    0%{
        transform:translate3d(0rem,8rem,0rem);
        opacity:0;
    }
    100%{
        
    }
}

@for $i from 0 through 5{
    .main button:nth-child(#{$i}){
    animation-delay: #{$i} + 10ms;
    }
}

@keyframes intro {
    0%{}
    100%{
        opacity:1;
        background: linear-gradient(#3b3b3b, #979595);
    }
}

@keyframes intro__texte {
    0%{}
    70%{}
    100%{transform: scale(1);}
}

@keyframes intro__input {
    0%{}
    100%{transform: translate3d(0,0,0);}
}
