@use "normalize.css";
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "JMH Typewriter";
  src: url("./assets/fonts/JMH Typewriter.otf");
  src: url("./assets/fonts/JMH Typewriter-Black.otf");
  src: url("./assets/fonts/JMH Typewriter-Bold.otf");
  src: url("./assets/fonts/JMH Typewriter-Thin.otf");
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .personnage {
  display: none;
  position: fixed;
  margin: 1rem;
  border-radius: 5px;
  background-color: #464646;
  color: white;
  width: 12vw;
  height: 12vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate3d(0rem, 1.7rem, 0);
          transform: translate3d(0rem, 1.7rem, 0);
}

nav .personnage span {
  font-weight: bold;
}

nav .inventaire {
  display: none;
  position: fixed;
  margin: 1rem;
  border-radius: 5px;
  background-color: #464646;
  color: white;
  width: 12vw;
  height: 12vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate3d(14rem, 1.7rem, 0rem);
          transform: translate3d(14rem, 1.7rem, 0rem);
}

nav #fichePersoBtn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  z-index: 1;
  margin: 1rem;
  border-radius: 5px;
  background-color: #464646;
  color: white;
  width: 10vw;
  height: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #fichePersoBtn i {
  padding-left: 4px;
  width: 1rem;
  height: 1rem;
}

nav #inventaireBtn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  margin: 1rem;
  border-radius: 5px;
  background-color: #464646;
  color: white;
  width: 10vw;
  height: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #inventaireBtn i {
  padding-left: 8px;
  width: 1rem;
  height: 1rem;
}

nav aside {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  margin: 1rem;
  border-radius: 5px;
  background-color: #464646;
  color: white;
  width: 10vw;
  height: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "JMH Typewriter";
  font-size: clamp(1rem, 10vw, 1.5rem);
  font-weight: bold;
}

.main button {
  font-family: "JMH Typewriter";
  font-size: clamp(1rem, 10vw, 1rem);
  font-weight: bold;
  width: 20vw;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.42);
          box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.42);
}

.main button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

#reset__modale {
  width: 50%;
  height: 50%;
  background-color: red;
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 2;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-blend-mode: darken;
}

#reset__modale span {
  font-size: 2rem;
}

#reset__modale span:first-child {
  font-size: 3rem;
}

#reset__modale span:nth-child(2), #reset__modale span:nth-child(3) {
  color: black;
  background-color: white;
  width: 33%;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

#reset__modale span:nth-child(2):hover, #reset__modale span:nth-child(3):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */